:root{
  --color_black: #1e1b18;
  --color_grey: #202124;
  --color_light_grey: #5f5d5d;
  --color_white: #fffaff;
  --color_red: #ed1c24;
  --color_cyan: #0f79eb;
  --color_blue: #004fa3;
  --color_purple: #742e92 ;
  --font-poppin: 'poppins', sans-serif !important;
  
}

body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-poppin);
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--color_grey);
  width: 100%;
  overflow: hidden;
}

/* all icons */
i.material-symbols-rounded  {
  font-size: 2rem;
  color: var(--color_cyan);
}

h1 {
  color: var(--color_white)
}

p {
  color: var(--color_white)
}

@media screen and (max-width: 430px) {
  
  /* all icons */
  i.material-symbols-rounded {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  
}