
.slider-container{
    position:relative;
    width: 1.4rem;
    height: 15rem;
    padding: 1rem;
    
}

.slider-container .range-slider{
    position: relative;
    z-index: 3;
    appearance: none;
    margin: 0;
    width: 15rem;
    height: 1.4rem;
    outline: none;
    border-radius: 8px;
    transform: rotate(-90deg) translate(-100%,0%);
    transform-origin: 0 0;
    background-color: rgba(0,0,0,0.2);
}

.slider-container .range-slider::-webkit-slider-thumb{
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.35rem solid var(--color_white);
    border-radius: 0.6rem;
    background-color: var(--color_cyan);
    box-shadow: 0 0 0 3px var(--color_black);
    cursor: pointer;
}

.slider-container .range-slider::-webkit-slider-thumb:hover{
    border-color: var(--color_black);
}

.slider-container .range-slider::-webkit-slider-thumb:active{
    
    box-shadow: 0 0 6px var(--color_light_grey);
    
}

.slider-container .bar,
.slider-container .fill{
    position: relative;
    left: 0;
    right: 0;
        
}

.slider-container .bar{
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.2);
}

