
.slider-container{
    position:relative;
    width: 1.4rem;
    height: 9rem;
    
       
}

.slider-container .label{
    font-size: 0.7rem;
    position:relative;
    width: 1rem;
    height: 10rem;
    display: flex;    
    flex-direction: column-reverse;
    align-items: center;
    
}

.slider-container .slider-value{
    font-size: 0.7rem;
    position:relative;
    width: 1rem;
    display: flex;       
    flex-direction: column-reverse;
    align-items: center;
}

.slider-container .range-slider{
    position: relative;
    z-index: 3;
    appearance: none;
    /* margin-left: -0.3rem; */
    width: 9rem;
    height: 1rem;
    outline: none;
    border-radius: 8px;
    transform: rotate(-90deg) translate(-100%,0%);
    transform-origin: 0 0;
    background-color: rgba(0,0,0,0.2);
}

.slider-container .range-slider::-webkit-slider-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.25rem solid var(--color_white);
    border-radius: 0.4rem;
    background-color: var(--color_cyan);
    box-shadow: 0 0 0 3px var(--color_black);
    cursor: pointer;
}

.slider-container .range-slider::-webkit-slider-thumb:hover{
    border-color: var(--color_black);
}

.slider-container .range-slider::-webkit-slider-thumb:active{
    
    box-shadow: 0 0 6px var(--color_light_grey);
    
}

.mb-5, .my-5 {
    margin-bottom: 1.5rem!important;
}